.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-icon {
  cursor: pointer;
  margin-right: 10px;
}

.project-description{
  color: rgb(160, 238, 121);
  font-size: 20px;
}

.nav-bar{
  margin-bottom: 80px;
}

.projects{
  width: 500px;
  padding: 20px;
  margin: 10px;
}

.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1b2228;
  color: white;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}
